@import '../scss/style.scss';

.checkoutPage {
  background-color: $primary;
  padding: 30px 0;
}

//付款表單

.checkoutPageLeft {
  background-color: $secondary;
  color: $primary;
  width: 48.936%;
  margin-right: 20px;
}

.form {
  padding: 30px 40px;
}

.title {
  margin-bottom: 30px;
  .titleText {
    line-height: 50px;
    font-size: 36px;
    margin: auto;
  }
}

label {
  line-height: 28px;
  font-size: 20px;
  width: 100%;
  input, select, textarea {
    border-radius: 0;
    line-height: 56px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 0 12px;
  }
  select {
    border-radius: 0;
    font-size: 16px;
  }
  textarea {
    margin-bottom: 0;
  }
}

button {
  width: 100%;
}

.nextStep {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 0;
  line-height: 33px;
  font-size: 24px;
  padding: 15px 0;
  background-color: $primary;
  color: $secondary;
  border: 5px solid $secondary;
  transition: .3s;
}

.nextStep:hover {
  background-color: $secondary;
  color: $third;
  border: 5px solid $third;
}

//訂單摘要

.checkoutPageRight {
  width: 31.914%;
}

.orderSummary {
  background-color: $primary;
  color: $secondary;
  outline: 1px solid $secondary;
  margin-bottom: 20px;
}

.orderSummaryTitle, .shoppingListTitle {
  line-height: 33px;
  font-size: 24px;
  text-align: center;
  padding: 16px 0;
  outline: 1px solid $secondary;
  background-color: $secondary;
  color: $primary;
}

.orderSummaryDetail, .shoppingListDetail {
  font-size: 16px;
  line-height: 22px;
  padding: 0 18px;
}

.orderSummaryPrice, .orderSummaryCoupon, .shoppingListName {
  font-weight: 100;
}

.orderSummaryTotal, .shoppingListPrice {
  font-size: 20px;
  line-height: 28px;
}

.product {
  padding: 16px 20px;
  outline: 1px solid $secondary;
}

.productImg {
  width: 40%;
  outline: 1px solid $third;
}

.shoppingListDetail {
  width: 60%;
  margin-left: 20px;
  padding: 0;
  span {
    text-align: left;
  }
  .shoppingListName {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 2px;
  }
  .shoppingListPrice {
    line-height: 28px;
    font-size: 20px;
  }
}

//RWD

@media (max-width: 992px) {
  .checkoutPage{
    width: 100%;
    padding: 0;
  }
  .container {
    margin: 0;
    max-width: 100%;
  }
  .checkoutPageRight {
    display: none;
  }
  .checkoutPageLeft {
    background-color: $secondary;
    color: $primary;
    width: 100%;
    margin: auto;
  }
}
